# SERVER
SERVER_PORT=8080


# DATABASE (PostgreSQL)
DB_HOST=localhost
DB_PORT=5432
DB_NAME=forumIT
DB_USERNAME=your_user_name
DB_PASSWORD=your_password

# Sửa lại đoạn Redis trong .env như sau:
REDIS_HOST=oregon-keyvalue.render.com
REDIS_PORT=6379
REDIS_USERNAME=red-d649cnnfte5s7381vl4g
REDIS_PASSWORD=HWZMngZC2W4Z45dhxAgt3GoMdWtnm8Ot
REDIS_SSL_ENABLED=true


# JWT
JWT_SECRET=YmFzZTY0LWVuY29kZWQtc2VjcmV0LWtleS1tdXN0LWJlLWF0LWxlYXN0LTMyLWJ5dGVzLWxvbmc=
JWT_ACCESS_TOKEN_EXPIRATION=300000
JWT_REFRESH_TOKEN_EXPIRATION=604800000