# SERVER
SERVER_PORT=8080


# DATABASE (PostgreSQL)
DB_HOST=localhost
DB_PORT=5432
DB_NAME=forumIT
DB_USERNAME=sa
DB_PASSWORD=yourPassword@123

# Sửa lại đoạn Redis trong .env như sau:
REDIS_URL=rediss://red-d649cnnfte5s7381vl4g:HWZMngZC2W4Z45dhxAgt3GoMdWtnm8Ot@oregon-keyvalue.render.com:6379
REDIS_HOST=oregon-keyvalue.render.com
REDIS_PORT=6379
REDIS_USERNAME=red-d649cnnfte5s7381vl4g
REDIS_PASSWORD=HWZMngZC2W4Z45dhxAgt3GoMdWtnm8Ot
REDIS_SSL_ENABLED=true


# JWT
JWT_SECRET=YmFzZTY0LWVuY29kZWQtc2VjcmV0LWtleS1tdXN0LWJlLWF0LWxlYXN0LTMyLWJ5dGVzLWxvbmc=
JWT_ACCESS_TOKEN_EXPIRATION=60000
JWT_REFRESH_TOKEN_EXPIRATION=604800000

# MAIL
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=black1099544@gmail.com
MAIL_PASSWORD=glhjphysatsimmcu
MAIL_AUTH=true
MAIL_STARTTLS_ENABLE=true